---
import ArtDisplayer from '../components/ArtDisplayer'
import Card from '../components/Card'
import Welcome from '../components/Welcome.astro'
import Layout from '../layouts/Layout.astro'
import { ChevronDown } from 'lucide-react'

const cards = [
  {
    id: 1,
    title: 'TIC',
    description:
      'Las TIC son las Tecnologías de la Información y Comunicación. Con su utilización se puede favorecer el alcanzar una educación de calidad, y eliminar las barreras que impiden el acercamiento de todas las personas al hecho educativo.',
    startingLeft: true,
    style: 'from-blue-50 to-blue-100 text-blue-800',
  },
  {
    id: 2,
    title: 'TAC',
    description:
      'Cuando las TIC se utilizan dentro de la educación pasan a ser Tecnologías para el aprendizaje y el conocimiento (TAC), un aspecto importante de estas es su capacidad para adaptar el contenido educativo a las necesidades individuales de los estudiantes.',
    startingLeft: false,
    style: 'from-green-50 to-green-100 text-green-800',
  },
  {
    id: 3,
    title: 'TEP',
    description:
      'Las TEP son la última etapa en la evolución, enfocándose en cómo las tecnologías pueden empoderar a los estudiantes y fomentar su participación activa en la sociedad. Mientras que las TIC facilitan la comunicación y las TAC mejoran el aprendizaje, las TEP buscan que los estudiantes utilicen su conocimiento para impactar en el mundo de manera positiva.',
    startingLeft: true,
    style: 'from-purple-50 to-purple-100 text-purple-800',
  },
]
---

<Layout>
  <Welcome />
  <ArtDisplayer client:load />
  <section
    class="grid-rows-[1fr, 100%] grid min-h-screen grid-cols-1 items-center justify-center text-stone-800"
  >
    <div class="mx-auto max-w-5xl p-2">
      <div class="grid items-center gap-16 md:grid-cols-2">
        <div class="relative aspect-[3/4]">
          <img
            class="object-cover"
            src="https://artes-inclusion.netlify.app/alan.jpg"
            alt="Alan portrait"
          />
        </div>

        <article class="max-w-2xl space-y-6">
          <h1 class="font-serif text-3xl">Arte Sin Límites</h1>
          <p class="text-lg leading-relaxed text-gray-700">
            Alan es el único mexicano con síndrome de down que es reconocido a
            nivel internacional como artista plástico independiente y como tal,
            el mejor referéndum para inspirar y punta de lanza en sensibilizar a
            la sociedad.
          </p>
          <p class="text-lg leading-relaxed text-gray-700">
            El arte nos enseña que no hay límites para la creatividad, que cada
            persona tiene formas únicas de interpretar el mundo y compartir su
            visión, enriqueciendo la experiencia colectiva.
          </p>
        </article>
      </div>
    </div>
    <div class="flex min-h-full items-end justify-center">
      <ChevronDown className="size-8 animate-bounce sm:size-10" />
    </div>
  </section>
  <section class="mx-auto max-w-4xl space-y-32 px-6 py-20">
    {
      cards.map((c) => (
        <Card
          title={c.title}
          description={c.description}
          number={c.id}
          startingLeft={c.startingLeft}
          style={c.style}
        />
      ))
    }
  </section>
</Layout>
